body{
    height: 100vw;
   
    margin: 0;
}
nav
{   display:flex;
    flex-direction: row;
    justify-content:end;
    align-items: center;
    
    background-color: black;
    height:80px;
    
}
nav a
{
    font-size: 30px;   
    color: white;
    text-decoration: none;
    padding-right: 50px;
}
.outerbox {
    margin: 200px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.box
{
   
    background-color: orange;
    height: 100px;
    width:100px;

}

.about
{
    display: grid;
    grid-template-columns:auto 1fr ;
    column-gap: 50px;

  
}
.about img{
    border-radius: 3%;
    margin-top:50px;
    margin-left:100px;
}
.aboutContent
{
    width: 600px;
    text-wrap: wrap;
    top:50px;
    margin-top:100px;
    line-height: 1.6;
    font-size: 25px;
  
}

.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 50px auto;
    max-width: 1200px;te
}

.innerSevice {
    padding: 40px 30px;
    background-color: #ffffff;
    border-radius: 15px;
    text-align: center;
}


.service0
{
    
    grid-area: s;
}

.card {
    width: 320px;
    padding: 50px;
    background: #ffffff;
    border-radius: 14px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    transition-duration: 2s;
    transition-timing-function:ease-in-out;

  }
.card:hover
{
    transform: translateY(-10px);
}
  .footer {
    background: rgb(0, 0, 0);
    padding: 60px 20px 0;
    text-align: center;
}

.footer-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.footer-icons i {
   font-size: 50px;
   background-color: white ;
   border-radius: 100%;
   transition-timing-function: ease-in-out;
}
.footer-icons i:hover
{
    background-color: black;
    color: white;
   
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 40px;
}

.footer-links a {
    color: #cccccc;
    text-decoration: none;
    font-size: 16px;
}

.footer-bottom {
    background-color: #000;
    padding: 15px 0;
}

.footer-bottom p {
    margin: 0;
    color: #ffffff;
    font-size: 14px;
}


