body{
    height: 100vw;
    margin: 0;
}
nav
{   display:flex;
    flex-direction: row;
    justify-content:end;
    align-items: center;
    background-color: black;
    height:80px;
    
}
nav a
{
    font-size: 30px;   
    color: white;
    text-decoration: none;
    padding-right: 50px;
}
.icon
{
    position: absolute;
    visibility: hidden;
    top:10px;
    right: 0px;
    width: 30px;
    cursor: pointer;
}
.icon span {
    
    display: block;
    height: 4px;
    background: black;
    margin: 6px 0;
    border-radius: 5px;
    transition: 0.4s;
  }
  .sidebar {
    position: fixed;
    top: 0;
    right: -250px; 
    width: 250px;
    height: 100vh;
    background-color: #222;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    transition: 0.4s;
    
}
.sidebar a {
    color: white;
    text-decoration: none;
    padding: 15px 25px;
    font-size: 20px;
}
.sidebar a:hover {
    background: #444;
}

.sidebar.active {
    right: 0;
}