body
{
    height: 100vh;
    width: 100vw;
    font-size: 30px;
    font-weight: bold;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    place-items:center;
    
   
}
.descrip
{
    display: flex;  
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.wrong-left {
  transform: translateX(-5px) rotate(-5deg);
  transition: transform 0.01s;
}

.wrong-right {
  transform: translateX(10px) rotate(5deg);
  transition: transform 0.01s;
}

.correct
{
    transform: scale(0.5);
    transition: transform 0.5s;
}
button
{
    background-color:white;
    height: fit-content;
    border-radius: 5px;
    font-size: 25px;
    cursor: pointer;
}
.outerContainer
{
    display:grid;
    width: 400px;
    height: 500px;
    grid-template-columns: repeat(4,1fr);           
    grid-template-rows: repeat(4,1fr);
    row-gap:5px;
    column-gap: 5px; 
     
}
.innerContainer
{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 10px;
    background-color: grey;
   
}
.card
{  
    width: 400px;
    padding: 10px;
    gap:10px;
    visibility: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: #ffffff;
    border-radius: 14px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    transition-duration: 2s;
    transition-timing-function:ease-in-out;
    background-color: rgba(247, 243, 243, 0.988);
    
    
}


.leftMove
{
    transform: translateX(-300px);
}